

.titulo {

    font-family: Benton Sans Compressed;
    font-weight:lighter;
    color:rgb(255, 255, 255);
    font-size: 50px;
    background-color: rgb(23, 23, 23);
    text-transform: capitalize;
    white-space: normal;
   
  }

  body {
    background-image: url('assets/images/comicwall.jpg')
  }